<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Produk</title>
  </head>
  <body>
    <h1>Tambah Produk Baru</h1>
    <form action="/products" method="POST">
      <label for="nama">Nama Produk:</label>
      <input type="text" id="nama" name="nama" required />
      <br />
      <label for="harga">Harga:</label>
      <input type="number" id="harga" name="harga" required />
      <br />
      <label for="jml_stok">Stok:</label>
      <input type="number" id="jml_stok" name="jml_stok" required />
      <br />
      <label for="category">Kategori:</label>
      <select id="category" name="category" required>
        <% categories.forEach(category => { %>
        <option value="<%= category._id %>"><%= category.nama %></option>
        <% }) %>
      </select>
      <br />
      <button type="submit">Tambah</button>
    </form>
  </body>
</html>
